In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [9]:
# ==================
# Load Dataset
# ===================

dataset_path = r"data\finalData\customer_training.csv"
df = pd.read_csv(dataset_path, sep = ',')
df.head()

,customer_unique_id,recency,frequency,monetary,zip_code,city,state,total_items_volume,order_status,max_delivery_delay,is_delivered,is_approved,payment_method_count,primary_payment_type,max_installments,avg_satisfaction,min_review_score,total_reviews_given,label
0,00090324bbad0e9342388303bb71ba0a,163,1,63.66,13054,campinas,SP,1,delivered,-8,1,1,1,credit_card,3,5.0,5,1,1
1,001a3a8e11d76c9a366c31a4aa2cc529,105,1,24.23,90840,porto alegre,RS,1,delivered,-7,1,1,1,credit_card,1,5.0,5,1,1
2,001deb796b28a3a128d6113857569aa4,73,1,63.33,20541,rio de janeiro,RJ,1,delivered,-36,1,1,1,credit_card,6,4.0,4,1,1
3,0023557a94bef0038066b5d1b3dc763e,159,1,107.44,15105,potirendaba,SP,1,delivered,-7,1,1,1,credit_card,2,3.0,3,1,1
4,0032ca69771a7758ce643258bb9e4ac7,49,1,62.45,2242,sao paulo,SP,1,delivered,-9,1,1,1,credit_card,2,5.0,5,1,1

In [10]:
df.shape

(37679, 19)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37679 entries, 0 to 37678
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customer_unique_id    37679 non-null  object
 1   recency               37679 non-null  int64
 2   frequency             37679 non-null  int64
 3   monetary              37679 non-null  float64
 4   zip_code              37679 non-null  int64
 5   city                  37679 non-null  object
 6   state                 37679 non-null  object
 7   total_items_volume    37679 non-null  int64
 8   order_status          37679 non-null  object
 9   max_delivery_delay    37679 non-null  int64
 10  is_delivered          37679 non-null  int64
 11  is_approved           37679 non-null  int64
 12  payment_method_count  37679 non-null  int64
 13  primary_payment_type  37679 non-null  object
 14  max_installments      37679 non-null  int64
 15  avg_satisfaction      37679 non-null  float64
 16  min_review_score      37679 non-null  int64
 17  total_reviews_given   37679 non-null  int64
 18  label                 37679 non-null  int64
dtypes: float64(2), int64(12), object(5)
memory usage: 5.5+ MB

In [12]:
df.describe()

,recency,frequency,monetary,zip_code,total_items_volume,max_delivery_delay,is_delivered,is_approved,payment_method_count,max_installments,avg_satisfaction,min_review_score,total_reviews_given,label
count,37679.000000,37679.000000,37679.000000,37679.000000,37679.000000,37679.000000,37679.000000,37679.0,37679.000000,37679.000000,37679.000000,37679.000000,37679.000000,37679.000000
mean,94.331564,1.017065,167.298032,33535.950052,1.162372,-9.871573,0.982802,1.0,1.037395,2.833488,4.167447,4.161814,1.012739,0.983943
std,50.897652,0.139386,232.445767,29613.031874,0.586908,17.472701,0.130010,0.0,0.305144,2.620630,1.285045,1.291239,0.175756,0.125695
min,0.000000,1.000000,9.590000,1003.000000,1.000000,-71.000000,0.000000,1.0,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000
25%,46.000000,1.000000,63.230000,9371.000000,1.000000,-17.000000,1.000000,1.0,1.000000,1.000000,4.000000,4.000000,1.000000,1.000000
50%,96.000000,1.000000,109.380000,22631.000000,1.000000,-11.000000,1.000000,1.0,1.000000,2.000000,5.000000,5.000000,1.000000,1.000000
75%,138.000000,1.000000,182.855000,54485.000000,1.000000,-6.000000,1.000000,1.0,1.000000,4.000000,5.000000,5.000000,1.000000,1.000000
max,180.000000,7.000000,7274.880000,99980.000000,24.000000,106.000000,1.000000,1.0,15.000000,24.000000,5.000000,5.000000,7.000000,1.000000

In [ ]:
# Probem max_delivery_delay -- Have to check